.dashboard-product-box {
  background-color: white;
  padding: 2rem;
  overflow: auto;
  @include square(100%);
}

.create-product-btn {
  position: fixed;
  right: 2rem;
  top: 5rem;
  @include square(2.5rem);
  @include flex(row, center, center, 0);
  border-radius: 50%;
  background-color: rgb(201, 9, 9);
  color: white;
  &:hover {
    opacity: 0.8;
  }
}
.product-delete-btn {
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: 1.2rem;
  @include square(2.5rem);
  @include flex;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
}


.transaction-product-card {
  @include flex(row, unset, center, 1rem);

  > img {
    @include square(4rem);
    object-fit: cover;
    border-radius: 5px;
  }
  > span {
    margin-left: auto;
  }
}
